html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer components {
	.infoText {
		@apply p-4 bg-gray-700/50 rounded-lg max-w-[300px];
	}
	.chatRow {
		@apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out;
	}
	.signIn {
		@apply rounded-lg px-5 py-3 text-3xl flex items-center justify-center space-x-2 hover:bg-gray-700/70 border-white border-4 text-white font-bold transition-all duration-200 ease-out;
	}
	.selectControl {
		@apply mt-2;
	}
	.selectControl > div {
		@apply bg-[#434654] border-[#434654] text-white;
	}
	.selectControl div {
		@apply text-[#11a37f];
	}

}
